.navbar .nav-item {

}
.sltech_notification_center {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
#top_menu_collapse{
    height: 75px;
}
#top_menu_collapse_clone{
    height: 75px;
}


nav.navbar-expand-lg.ks_header_2.ks-header-2-main.ks-header-4-main.ks-header-4-main-inside{
    background: linear-gradient(to bottom, #2e549a 24%,#ffffff 150%);
}



.ks-header-4-main #top_menu {
    background: transparent !important;
}

span.ks_video_msg2 {
    font-family: sans-serif;
    font-size: smaller;
    font-variant: small-caps;
    color: #072e55;
}

section.ks-container-gallery.pb-5.ks-page-gallery.container-lg.py-3.py-lg-5.pt0 {
    background-color: #2e549a;
    /*padding-left: 0px;
    padding-right: 0px;*/
    width: 100%;
}

section.wraper.ks-spa-about {
    background-color: #2e549a;
}
section.ks-container-gallery.pb-5.ks-page-gallery.container-lg.py-3.py-lg-5.pt0 {
    margin-left: 0px;
    margin-right: 0px;
    max-width: fit-content;
}
p.lead {
    color: white !important;
}

section.ks_trendy_style_static {
    background-color: #2e549a;
}
section.s_features {
    background-color: #2e549a;
}